*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color:teal;
}

img{
    background: transparent;
}

.title{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.game-board{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding: 10px;
}

.round, .score{
    margin: 0 auto;
}

.theChoice{
    display: flex;
    justify-content: space-evenly;
    border: 6px solid rgb(93, 164, 167);
    padding: 20px;
    width: 600px;
    min-height: 300px;
}
.choices{
    display: flex;
    gap: 15px;
    justify-content: center;
}


img{
    max-width: 200px;
}

.choices img:hover{
transform: scale(1.1);
}